.bookmark-minute-container{
    height: 70px;
    width: auto;
    background-color: rgba(137, 43, 226, 0.308);
    text-align: center;
    border: solid 1px violet;
    border-radius: 8px;
    padding: 0px 35px 0px 35px;
}
.bookmark-blogs-container{
    margin-top: 25px;
    
    height: auto;
    width: auto;
    background-color: rgba(163, 130, 130, 0.219);
    
    border: solid 1px rgba(238, 130, 238, 0.308);
    border-radius: 8px;
    padding: 0px 35px 0px 35px;

}
.bookmark-inner-container{
    border-radius: 8px;
    margin-bottom: 25px;
    margin-top: 25px;
    height: auto;
    width: 280px;
    padding: 10px 10px 10px 15px;
    
    background-color: rgba(250, 235, 215, 0.384);


}